body {
  background-color: rgb(29, 51, 73);
}
h1 {
  color: whitesmoke;
  text-align: center;
}
#turn {
  text-align: center;
  color: wheat;
}
#turn-player {
  color: chartreuse;
}
#cell-body {
  padding: 10px;
  background-color: transparent;
  width: 50%;

  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.cell {
  width: 100%;
  height: 100px;
  /* border: 3px solid lightskyblue; */
  text-align: center;
  font-size: 100px;
  background-color: rgba(245, 245, 245, 0.466);
  color: orangered;
}
#btnReset {
  background-color: whitesmoke;
  /* color: blue; */
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
}
#btnReset:hover {
  background-color: black;
  color: blanchedalmond;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 10;
  display: none;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  text-align: center;
  z-index: 100;
}

.blur {
  filter: blur(8px);
}
.modal input {
  width: 60%;
  height: 20px;
  text-align: center;
  border: 2px solid grey;
}

.hide {
  display: none;
}

button {
  padding: 7px;
  background-color: whitesmoke;
  box-shadow: gray, 5px, 20px;
  font-weight: 700;
  font-size: medium;
  border-radius: 10px;
}
button:hover {
  background-color: black;
  color: whitesmoke;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  #info {
    font-size: x-large;
  }
  #cell-body {
    width: 90%;
  }
  .modal {
    width: 90%;
  }
}
